<head>
</head>

<body>
  <div id="reactEntry"></div>
  <body style="background-color:lightblue;">
  <h2> <center> hi do u liek doggos <center> <h2>
  <img src="http://pixel.nymag.com/imgs/daily/selectall/2016/06/10/10-snapchat-dog.w710.h473.2x.jpg" alt="W3Schools.com" width="150" height="142">

  <form action method="post" autocorrect="off" novalidate>
	   <div class ="control-group ">
       <input type="url" name="url" id="id_url" placeholder="Enter image URL here...">
       <button type ="submit" class="btn btn-primary btn-large">Doggo Dat Face</button>
     </div>
  </form>

  <!-- Attach React components -->
  <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
