{% extends "layout.html" %} {% block body %}

<div class="intro-container">
    <div class="row logo-animation fadeInDownBig">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="logo-type">
                <h1 class="logo-text text-primary">doggr</h1>
                <p class="logo-subtext">
                    The Future of Images
                </p>
                <img src="{{ url_for('static', filename='geodogtransparent.png') }}"
                            class="image.rounded" width = "150px" height = "150px">
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>

    <div class="fadeIn search-box">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="index-search" placeholder="Start your adventure (provide a url) . . .">
            </div>
            <div class="col-lg-1"></div>
            <div id="error"></div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script type="text/javascript" src="{{ url_for('static', filename='js/newcontroller.js') }}"></script>

{% endblock %}
