<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Doggr</title>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/yeti/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static',filename='style/style.css') }}">
        <!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap/dist/css/bootstrap.css') }}">-->

    </head>
    <body style="padding-top:80px">

        <nav class="navbar navbar-default navbar-fixed-top">
            <div id="top-alert-warn" class="alert alert-dismissible alert-danger collapse" role="alert">
                <button type="button" class="close" id="top-alert-warn-close">×</button>
                <span id="top-alert-warn-text"></span>
            </div>

            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Doggr</a>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </body>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.js') }}"></script>

    {% block scripts %}{% endblock %}


</html>
